<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/artist_dashboard.css}">
    <title>Artist Dashboard</title>
</head>
<body>
<h1>Welcome Artist,</h1>
<div class="block-container">
  <div class="block">
    <a href="/addProduct">Add Artwork</a>
  </div>
  <div class="block">
    <a href="/viewListed">View Listed Artworks</a>
  </div>
  <div class="block">
    <a href="/editArtist">Edit Account Details</a>
  </div>
</div>

</body>
</html>